{% extends 'base.html' %}
{% block content %}
<div class="login-page">
  <h3>Job Login</h3><hr/>
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1"
        aria-describedby="emailHelp" name="email">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1"
        name="password">
    </div>
    <div class="mb-3">
      <p>Have No Account <a href="{% url 'sign-up' %}">Register</a> </p>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock %}